# Analyzing the relation between home matches and match wins in the English Premier League (Soccer)

### Vikam Sehgal

### Introduction
blah blah blah blahblah blah
With the premier league in full swing, discussion about home field advantage is in full swing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data_set = pd.read_csv('18_19_data.csv')
data_set.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89

### Data Transformation

In [47]:
# group by teams to create columns of team, wins, loss, home wins, away wins, home loss, away loss
teams = []
team_stat = {}
for i in data_set.iterrows():
    teams.append(i[1].HomeTeam)
    teams.append(i[1].AwayTeam)
#remove duplicates from teams
teams = set(teams)
for i in teams:
    team_stat[i] = [0,0,0,0,0]
for i in data_set.iterrows():
    team_stat[i[1].HomeTeam][0]+=1
    team_stat[i[1].AwayTeam][0]+=1
    if i[1].FTHG > i[1].FTAG:
        team_stat[i[1].HomeTeam][1]+=1
        team_stat[i[1].HomeTeam][4]+=1
        team_stat[i[1].AwayTeam][2]+=1
    elif i[1].FTHG < i[1].FTAG:
        team_stat[i[1].AwayTeam][1]+=1
        team_stat[i[1].HomeTeam][2]+=1
    else:
        team_stat[i[1].HomeTeam][3]+=1
        team_stat[i[1].AwayTeam][3]+=1
# print(team_stat)
mp, wins, loss, draw, hw = [],[],[],[],[]
for v in team_stat:
    mp.append(team_stat[v][0])
    wins.append(team_stat[v][1])
    loss.append(team_stat[v][2])
    draw.append(team_stat[v][3])
    hw.append(team_stat[v][4])
points = []
#calculate points
for i in range(0,len(mp)):
    points.append(wins[i]*3 + draw[i])
epl_table = pd.DataFrame(data={'team': list(teams), 'matches_played': mp,
                               'wins':wins, 'loss':loss,
                               'draw':draw, 'home_win': hw,
                              'points': points})
epl_points = epl_table.sort_values(by=['points'], ascending=False)
epl_home_games = epl_table.sort_values(by=['home_win'], ascending=False)

In [48]:
epl_points

              team  matches_played  wins  loss  draw  home_win  points
6         Man City              38    32     4     2        18      98
9        Liverpool              38    30     1     7        17      97
2          Chelsea              38    21     8     9        12      72
12       Tottenham              38    23    13     2        12      71
18         Arsenal              38    21    10     7        14      70
19      Man United              38    19    10     9        10      66
14          Wolves              38    16    13     9        10      57
1          Everton              38    15    14     9        10      54
13       Leicester              38    15    16     7         8      52
8         West Ham              38    15    16     7         9      52
5          Watford              38    14    16     8         8      50
0   Crystal Palace              38    14    17     7         5      49
7      Bournemouth              38    13    19     6         8      45
17       Newcastle              38    12    17     9         8      45
16         Burnley              38    11    20     7         7      40
15     Southampton              38     9    17    12         5      39
4         Brighton              38     9    20     9         6      36
11         Cardiff              38    10    24     4         6      34
10          Fulham              38     7    26     5         6      26
3     Huddersfield              38     3    28     7         2      16

In [49]:
epl_home_games

              team  matches_played  wins  loss  draw  home_win  points
6         Man City              38    32     4     2        18      98
9        Liverpool              38    30     1     7        17      97
18         Arsenal              38    21    10     7        14      70
2          Chelsea              38    21     8     9        12      72
12       Tottenham              38    23    13     2        12      71
19      Man United              38    19    10     9        10      66
14          Wolves              38    16    13     9        10      57
1          Everton              38    15    14     9        10      54
8         West Ham              38    15    16     7         9      52
17       Newcastle              38    12    17     9         8      45
5          Watford              38    14    16     8         8      50
7      Bournemouth              38    13    19     6         8      45
13       Leicester              38    15    16     7         8      52
16         Burnley              38    11    20     7         7      40
10          Fulham              38     7    26     5         6      26
11         Cardiff              38    10    24     4         6      34
4         Brighton              38     9    20     9         6      36
15     Southampton              38     9    17    12         5      39
0   Crystal Palace              38    14    17     7         5      49
3     Huddersfield              38     3    28     7         2      16